@model Links_FrontEnd.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h4>Wellcome @Html.DisplayFor(model => model.Email)</h4>
</body>
</html>
